.movies {
  padding: 70px 70px 30px;
}

.movies__button {
  margin: 50px auto 80px;
  display: block;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background-color: #f4f4f4;
  color: #000;
}

@media screen and (max-width: 550px) {
  .movies {
    padding: 40px 16px 30px;
  }
}

@media screen and (max-width: 480px) {
  .movies {
    padding: 40px 16px 30px;
  }
}