.profile-form {
  margin: 74px auto 70px;
  width: 410px;
}

.profile-form__input-container {
  width: 100%;
  position: relative;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 17px;
}

.profile-form__input-container:nth-of-type(2) {
  padding: 0;
  border: 0;
  margin: 0;
}

.profile-form__input {
  width: 100%;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 0 50px;
  text-align: right;
  box-sizing: border-box;
  border: 0;
  background-color: #fafafa;
}

.profile-form__input:disabled {
  color: #000;
}

.profile-form__label {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.profile__title {
  margin: 0 0 123px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 220px;
}

.profile__btn {
  background-color: #fafafa;
  border: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__btn_signout {
  color: #ff004d;
}

.profile__error {
  margin: 0;
  visibility: hidden;
}

.profile__error_visible {
  color: #ff004c;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  visibility: visible;
}

.profile__btn-save {
  height: 45px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
}

@media screen and (max-width: 800px) {
  .profile-form {
    margin-top: 236px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__buttons {
    margin-top: 210px;
  }
}

@media screen and (max-width: 500px) {
  .profile-form {
    width: 260px;
    margin-top: 70px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__buttons {
    margin-top: 379px;
  }

  .profile__btn {
    background-color: #fafafa;
    border: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}