.promo {
  min-height: 524px;
  background-color: #dddee3;
  display: flex;
  position: relative;
}

.promo-img {
  width: 320px;
  height: 320px;
  background-image: url("../../images/promo-img.svg");
  background-size: cover;
  position: absolute;
  margin: 0 auto;
  opacity: 0.7;
  top: 82px;
  left: 0;
  right: 0;
  z-index: 1;
}

.promo__title {
  max-width: 730px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 184px auto 0;
}

@media screen and (max-width: 800px) {
  .promo {
    min-height: 784px;
  }

  .promo-img {
    top: 224px;
  }

  .promo__title{
    margin-top: 326px;
  }
}

@media screen and (max-width: 480px) {
  .promo {
    min-height: 570px;
  }
  
  .promo-img {
    width: 248px;
    height: 248px;
    top: 142px;
  }
  
  .promo__title {
    font-size: 40px;
    margin-top: 207px;
  }
}

@media screen and (max-width: 400px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }
}