/* div, header, section, footer, h2, h3, p, ul, li, a, p {
 outline: 1px solid red;
} */

.page {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}