.auth-form {
  width: 396px;
  margin: 0 auto;
  padding: 70px 0;
}

.auth-form__form {
  min-height: 449px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

.form__title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 40px;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: 400;
  color: #a0a0a0;
}

.form__label:last-of-type {
  margin: 0;
}

.form__input {
  height: 46px;
  margin-top: 10px;
  padding-left: 15px;
  font-size: 13px;
  background-color: #f4f4f4;
  border-radius: 8px;
  border: 0;
}

.form__input_error {
  color: #ee3465;
}

.form__error {
  margin-top: 10px;
  color: #ee3465;
  font-size: 10px;
}

.form__btn {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.auth-form__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.auth-form__description {
  color: #a0a0a0;
  font-size: 14px;
  margin: 0;

}

.auth-form__link {
  color: #3456f3;
  font-size: 14px;
  margin-left: 6px;
}

@media screen and (max-width: 800px) {
  .auth-form {
    padding: 232px 0 0;
  }
}

@media screen and (max-width: 520px) {
  .auth-form {
    width: 260px;
    padding: 56px 0 30px;
  }

  .auth-form__form {
    min-height: 577px;
    margin-top: 50px;
  }

  .auth-form__logo {
    margin: 0 auto;
  }

  .form__title {
    margin-bottom: 80px;
    text-align: center;
  }

  .form__btn {
    font-size: 12px;
  }

  .auth-form__description {
    font-size: 12px;

  }

  .auth-form__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {}